.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.dot-paragraph {
	font-weight: 700;
	padding: 2rem 2.5rem;

	@media screen and (min-width: $query__small) {
		font-size: 1.25rem;
		padding: 4rem 5rem;
	}

	@media screen and (min-width: $query__medium) {
		padding: 4rem 10rem;
	}
}

.next-event-container {
	text-align: center;
	padding-bottom: 3rem;
}

.next-event-heading {
	@extend %base-heading-style;
}

.next-event-date,
.next-event-location {
	font-weight: bold;
	margin: 0;

	@media screen and (min-width: $query__small) {
		font-size: 1.25rem;
	}
}

.featured-sponsors-container {
	text-align: center;
	padding-bottom: 1rem;
}

.featured-sponsors-heading {
	@extend %base-heading-style;
	font-size: 1.6rem;
}

.sponsors-list {
	display: flex;
	align-items: center;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;

	@media screen and (min-width: $query__small) {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.sponsor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7rem;
	width: 18rem;
	padding: 1rem 1.5rem;
	margin: 1rem 0;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);

	@media screen and (min-width: $query__small) {
		margin: 1rem 1rem;
	}

	img {
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
}

.event-heading {
	@extend %base-heading-style;
}

.sched-agenda {
	width: 80vw;
	margin: 0 auto;
}