/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/

// Heading Styles

%base-heading-style {
    color: $primary-brand-colour;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin: 0;  
}