/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/

// Heading Styles

%base-heading-style {
    color: $primary-brand-colour;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin: 0;  
}

// Base Button Style

%base-button-style {
	background-color: $primary-brand-colour;
    color: #FFF;
    font-weight: 700;
	padding: 0.5rem 1.5rem;
	border: 0;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background-color: #05acc1;
		color: #FFF;
		text-decoration: underline;
	}

	&:visited {
		color: #FFF;
	}

}

// Horizontal Line Styles

hr.style1{
    border-top: 1px solid #8c8b8b;
    width: 75vw;
	margin: 0 auto;
	
	@media screen and (min-width: $query__medium) {
		width: 50vw;
	}
}