/*--------------------------------------------------------------
## Hero Styles
--------------------------------------------------------------*/

.hero-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), 
                center / cover no-repeat url("./images/vr.jpg");
    height: 50vh;

    @media screen and (min-width: $query__small) {
        height: 70vh;
    }
}

.hero-logo {
    width: 18rem;

    @media screen and (min-width: $query__small) {
        width: 35rem;
    }
}

.hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), 
                center / cover no-repeat url("./images/arduino-piano.jpg");
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $query__medium) {
        flex-direction: row;
    }
}

.hero-logo-about {
    padding: 2rem 0;
    margin: 0 1.5rem;
    width: 15rem;

    @media screen and (min-width: $query__small) {
        width: 35rem;
    }
}

.about {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.9rem;
    text-shadow: 3px 3px 3px #000000;
    padding: 0.75rem 2.5rem;
    margin: 0;

    @media screen and (min-width: $query__small) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: $query__medium) {
        max-width: 750px;
    }
}

.hero-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), 
                center / cover no-repeat url("./images/ms-treestair.jpg");
    height: 50vh;

    @media screen and (min-width: $query__small) {
        height: 70vh;
    }
}

.hero-logo-events {
    width: 18rem;
    padding: 2rem 0;

    @media screen and (min-width: $query__small) {
        width: 35rem;
    }
}

.event-details-container {
    text-align: center;
    color: #FFFFFF;
}

.event-date,
.event-location {
    font-weight: bold;
    margin: 0;
    text-shadow: 3px 3px 3px #000000;

	@media screen and (min-width: $query__small) {
		font-size: 1.25rem;
	}
}

hr.style1{
    border-top: 1px solid #8c8b8b;
    width: 80vw;
}