/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

$base__space-unit: 1.5em;

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/

.content-wrapper {
	width: 1024px;
	margin: 0 auto;
}

/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

$query__small: 600px;
$query__medium: 900px;