/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

$base__space-unit: 1.5em;

/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

$query__small: 600px;
$query__medium: 900px;
$query__large: 1200px;

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/

.content-wrapper {
	@media screen and (min-width: $query__large) {
    width: 1024px;
		margin: 0 auto;
  }
}